#page-nav{
    text-align: center;
    margin-top: 30px;
    .page-number{
        width: 30px;
        height: 30px;
        background: #4d4d4d;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: inline-block;
        color: #fff;
        line-height: 30px;
        font-size: 12px;
        margin: 0 3px 30px;
        &:hover{
            background: #5e5e5e;
        }
    }
    .current{
        background: #88acdb;
        cursor: default;
        &:hover{
            background: #88acdb;
        }
    }
    .extend{
        color: #4d4d4d;
        //margin: 0 27px;
        opacity: 0;
        &:hover{
            color: #5e5e5e;
        }
    }
    /*&:hover{
            .extend{
                opacity: 1;
            }
        }*/
}