<footer id="footer">
    <div class="outer">
        <div id="footer-info" >
            <div class="footer-left">
                <i class="fa fa-copyright"></i>
                <% if (theme.since && !isNaN(theme.since) && theme.since < date(new Date(), 'YYYY')) { %><%- theme.since %>
                -
                <% } %>
                <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
            </div>
            <div class="footer-right">
                我的青春回忆录
            </div>
        </div>
        <% if (theme.visit_counter.on) { %>
            <div class="visit" style="text-align: center;position: relative;top: -13px">

                    <% if (theme.visit_counter.site_visit) { %>
                        <span style='font-weight: bolder'>
                        <span id="site-visit" title="总访客量">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span id="busuanzi_value_site_uv"></span>
                        </span>
                    </span>
                    <% } %>

                    <% if (theme.visit_counter.site_visit && theme.visit_counter.page_visit) { %>
                        <span> | </span>
                    <% } %>

                    <% if (theme.visit_counter.page_visit) { %>
                        <span style='font-weight: bolder'>
                        <span id="page-visit" title="总访问量">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            <span id="busuanzi_value_site_pv"></span>
                        </span>
                    </span>
                        <span> | </span>
                        <span title="站点总字数" id="total-word">
                            <i class="fa fa-map" aria-hidden="true"></i>
                            <span class="post-count"><b><%= totalcount(site) %></b></span>
                        </span>

                        <span> | </span>
                        <span title="JsDelivr提供cdn加速">
                            <img style="position: relative;top: 5px" width="70px" height="20px" alt="jsdelivr" src="https://cdn.jsdelivr.net/gh/SnowMeteors/CDN@latest/img/jsdeliver.png" />
                        </span>
                    <% } %>

                <br/>
                <span style="position: relative;top: 7px">
                    <span  id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
                </span>

                <script>
                    var now = new Date();

                    function createtime() {
                        var grt = new Date("1/1/2020 00:00:00");//此处修改你的建站时间或者网站上线时间
                        now.setTime(now.getTime() + 250);
                        days = (now - grt) / 1000 / 60 / 60 / 24;
                        dnum = Math.floor(days);
                        hours = (now - grt) / 1000 / 60 / 60 - (24 * dnum);
                        hnum = Math.floor(hours);
                        if (String(hnum).length == 1) {
                            hnum = "0" + hnum;
                        }
                        minutes = (now - grt) / 1000 / 60 - (24 * 60 * dnum) - (60 * hnum);
                        mnum = Math.floor(minutes);
                        if (String(mnum).length == 1) {
                            mnum = "0" + mnum;
                        }
                        seconds = (now - grt) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum);
                        snum = Math.round(seconds);
                        if (String(snum).length == 1) {
                            snum = "0" + snum;
                        }
                        document.getElementById("timeDate").innerHTML = "我在这里 " + dnum + " 天 ";
                        document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒";
                    }

                    setInterval("createtime()", 250);
                </script>

            </div>

        <% } %>

    </div>
</footer>
<script async src="https://cdn.jsdelivr.net/npm/busuanzi@2.3.0/bsz.pure.mini.js"></script>